@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    content: "ec8f";
}

.toast-ease {
    animation: slideInEaseIn 0.1s ease-in;
}

@keyframes slideInEaseIn {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
