@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --mainColor: #bbf451;
    --textColor: #1b1b1b;
    --bgColor: #f8f7ff;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    content: "ec8f";
}

.slidePopup {
    animation: slidePopup 0.4s ease-in-out forwards;
}

@keyframes slidePopup {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast-ease {
    animation: easeIn 0.1s ease-in;
}

@keyframes easeIn {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
